<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="changepassword.css" >
</head>
<body>
    <div class="header" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;"> <img src="../logo/nitk.png" alt="nitk" height="0%" width="33%" style="margin-right: 24%;">
        <a href="/home" style="text-decoration: none; font-size: large;">Home</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="/profile" style="text-decoration: none; font-size: large;">Profile</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="/gyan_review" style="text-decoration: none; font-size: large;">Gyan Review</a>
        &nbsp;
        &nbsp;
        &nbsp;
       
        <a href="/placed_student" style="text-decoration: none; font-size: large;">Placed Student</a> 
        &nbsp;
        &nbsp;
        &nbsp;  
        <a href="/change_password" style="text-decoration: none; font-size: large;">Change Password</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="/logout" style="text-decoration: none; font-size: large;">Logout</a>   
  </div>
    <div class="box1">
        <h4 style="padding-top:10px;padding-left: 10px;">Change Your Password</h4>
        <hr>
        <form action="/update_password" method="post" type="text/plain">
            <label style="padding-left:5%;color:solid black">Email Address</label>
        <br>
      <input style="height:28px; width:52%;margin-top:2%;margin-left:5%; margin-bottom: 2%; border:1px solid black ;background-color: #A9A9A9;" Name="Email" value="<%=Email%>" readonly>
      <br>
      <label style="padding-left:5%;padding-top:10px;color:solid black" >Current Password*</label>
      <br>
      <input style="height:28px; width:52%;margin-top:2%;margin-left:5%; margin-bottom: 2%; border:1px solid black " Name="current_password" type="password">
      <div class="box2">
        <p style="padding-left:10px;padding-top: 5px;">
            New password must be at least 10 characters and include: 1 uppercase, 1 lowercase, 1 digit and 1 special character #?!@$%^&*-
          </p>
      </div>
      <br>
      <label style="padding-left:5%;padding-top:10px;color:solid black" >New Password*</label>
      <br>
      <input style="height:28px; width:52%;margin-top:2%;margin-left:5%; margin-bottom: 2%; border:1px solid black " Name="new_password" type="password">
      <br>
      <label style="padding-left:5%;padding-top:10px;color:solid black">Confirm New Password*</label>
      <br>
      <input style="height:28px; width:52%;margin-top:2%;margin-left:5%; margin-bottom: 2%; border:1px solid black " Name="new1_password" type="password">
      <br>
      <button class="button-70" role="button" style="margin-left:45%">Update</button>

        </form>
        
    </div>
</body>
</html>