<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="forgetpassword.css" >
</head>
<body>
  <div class="header" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;"> <img src="../logo/nitk.png" alt="nitk" height="0%" width="33%" style="margin-right: 24%;">
    <a href="/home" style="text-decoration: none; font-size: large;">Home</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/profile" style="text-decoration: none; font-size: large;">Profile</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/gyan_review" style="text-decoration: none; font-size: large;">Gyan Review</a>
    &nbsp;
    &nbsp;
    &nbsp;
   
    <a href="/placed_student" style="text-decoration: none; font-size: large;">Placed Student</a> 
    &nbsp;
    &nbsp;
    &nbsp;  
    <a href="/change_password" style="text-decoration: none; font-size: large;">Change Password</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/logout" style="text-decoration: none; font-size: large;">Logout</a>   
</div>
  <div class="box1">
     <div style="margin-left:3%;"><h3 style="padding-top: 20px;">Enter Your Registered Email</h3></div>
     <form action="/authenticateemail" method="post">
        <input class="email" name="email" placeholder="Email" required/>
        <br>
           
          <button class="button-8" role="button">Next</button>
     </form>
  </div>
</body>
</html>