<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="box1">
      
      <div class="box4">
        <div class="header">
          <img
            src="../logo/nitk.png"
            alt="nitk"
            height="100%"
            width="100%"
            style="margin-right: 5%"
          />
        </div>
        <div class="box5">
          <!-- <form class="form1" action="/login" method="post">
            <div class="header">
              <h4>Welcome to NITK, Surathkal</h4>
            </div>
            <input class="email" name="email" placeholder="Email" />
            <input
              class="password"
              type="password"
              name="password"
              placeholder="Password"
            />
            <div class="button-container">
             
              
              <button  class="button-8">
                Login
              </button>
            
          </form> -->
          <div class="header">
            <h4>Welcome to NITK, Surathkal</h4>
          </div>
           <form class="form1" action="/login" method="post">
            <input class="email" name="email" placeholder="Email" required/>
            <input
              class="password"
              type="password"
              name="password"
              placeholder="Password" required
            />
            <div class="button-container" style="margin-right:4%">
              <button class="button-8" >Login</button>
              &nbsp;
              &nbsp;
              <!-- &nbsp; -->
            </form>
            <form action="/forget" method="get">
              <button class="button-8">Recover Password</button>
            </form>
            
            </div>
            
           
          
          
        </div>
        </div>
      </div>
   
  </body>
</html>
