<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="optgyan.css" />
</head>
<body>
    <div class="header" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;"> <img src="../logo/nitk.png" alt="nitk" height="0%" width="33%" style="margin-right: 24%;">
        <a href="/home" style="text-decoration: none; font-size: large;">Home</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="/profile" style="text-decoration: none; font-size: large;">Profile</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="/gyan_review" style="text-decoration: none; font-size: large;">Gyan Review</a>
        &nbsp;
        &nbsp;
        &nbsp;
       
        <a href="/placed_student" style="text-decoration: none; font-size: large;">Placed Student</a> 
        &nbsp;
        &nbsp;
        &nbsp;  
        <a href="/change_password" style="text-decoration: none; font-size: large;">Change Password</a>
        &nbsp;
        &nbsp;
        &nbsp;
        <a href="/logout" style="text-decoration: none; font-size: large;">Logout</a>   
  </div>
  <div class="box1">
    <form action="/get_student_review/intern" method="get"> 
        <button class="button-8" role="button">Internship</button>
    </form>
    
    <form action="/get_student_review" method="get">
    <p style="padding-left:42.5%; ">or</p>
        <button class="button-9" role="button">Placement</button>
    </form>
  </div>
</body>
</html>